.style-container {
  background: url(../../images/hottakes2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 25vh;
  font-family: Verdana, Geneva, sans-serif;
}

.body-container {
  padding: 30vh 0 20vh 0;
  width: 100%;
}

.style-content {
  background-color: rgb(30, 50, 56, .8);
  height: 100%;
  width: 100%;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

.home_buttons {
  margin: 0 .5vw 0 .5vw;
}
